<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<style>
    @media (min-width: 769px) {
        .ant-layout-content {
            margin: 24px 16px;
        }
    }

    .ant-col-sm-24 {
        margin-top: 10px;
    }

    .ant-tabs-bar {
        margin: 0;
    }

    .ant-list-item {
        display: block;
    }

    .ant-tabs-top-bar {
        background: white;
    }
</style>
<body>
<a-layout id="app" v-cloak>
    {{ template "commonSider" . }}
    <a-layout id="content-layout">
        <a-layout-content>
            <a-spin :spinning="spinning" :delay="500" tip="loading">
                <a-space direction="vertical">
                    <a-space direction="horizontal">
                        <a-button type="primary" :disabled="saveBtnDisable" @click="updateAllSetting">Save configuration</a-button>
                        <a-button type="danger" :disabled="!saveBtnDisable" @click="restartPanel">Restart panel</a-button>
                    </a-space>
                    <a-tabs default-active-key="1">
                        <a-tab-pane key="1" tab="Panel configuration">
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="text" title = "Panel Monitoring IP" desc = "Leave blank by default to monitor all IPs, restart the panel to take effect" v-model="allSetting.webListen"></setting-list-item>
                                <setting-list-item type="number" Title = "Panel Monitoring Port" desc = "Restart the panel to take effect" v-model.number="allSetting.webPort"></setting-list-item>
                                <setting-list-item type="text" Title = "Panel certificate public key file path" desc = "Fill in an absolute path to the beginning of '/', restart the panel to take effect" v-model="allSetting.webCertFile"></setting-list-item>
                                <setting-list-item type="text" Title = "Panel Certificate Key File Path" desc = "Fill in an absolute path to the beginning of '/', restart the panel to take effect" v-model="allSetting.webKeyFile"></setting-list-item>
                                <setting-list-item type="text" Title = "Panel URL Root Road" desc = "must start with '/', end with '/', restart the panel to take effect" v-model="allSetting.webBasePath"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
                        <a-tab-pane key="2" tab="User settings">
                            <a-form style="background: white; padding: 20px">
                                <a-form-item label="Original user name">
                                    <a-input v-model="user.oldUsername" style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item label="Old password">
                                    <a-input type="password" v-model="user.oldPassword"
                                             style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item label="New user name">
                                    <a-input v-model="user.newUsername" style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item label="New password">
                                    <a-input type="password" v-model="user.newPassword"
                                             style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item>
                                    <a-button type="primary" @click="updateUser">Save</a-button>
                                </a-form-item>
                            </a-form>
                        </a-tab-pane>
                        <a-tab-pane key="3" tab="xray Related settings">
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="textarea" Title = "XRAY Configuration Template" desc="Based on this template, generate the final xRay configuration file, restart the panel to take effect" v-model="allSetting.xrayTemplateConfig"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
                        <a-tab-pane key="4" tab="TG reminder related settings">
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="switch" Title = "Enable Telegram Bot" desc="Restart the panel to take effect"  v-model="allSetting.tgBotEnable"></setting-list-item>
                                <setting-list-item type="text" Title = "Telegram Bot Token" desc="Restart the panel to take effect"  v-model="allSetting.tgBotToken"></setting-list-item>
                                <setting-list-item type="number" Title = "Telegram Bot Chatid" desc="Restart the panel to take effect"  v-model.number="allSetting.tgBotChatId"></setting-list-item>
                                <setting-list-item type="text" Title = "Telegram Bot Notification Time" desc="Use Crontab timing format to restart the panel to take effect"  v-model="allSetting.tgRunTime"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
                        <a-tab-pane key="5" tab="Other settings">
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="text" title="Time zone" desc="The timing task runs according to the time of the time zone, restart the panel to take effect" v-model="allSetting.timeLocation"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
                    </a-tabs>
                </a-space>
            </a-spin>
        </a-layout-content>
    </a-layout>
</a-layout>
{{template "js" .}}
{{template "component/setting"}}
<script>

    const app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            siderDrawer,
            spinning: false,
            oldAllSetting: new AllSetting(),
            allSetting: new AllSetting(),
            saveBtnDisable: true,
            user: {},
        },
        methods: {
            loading(spinning = true) {
                this.spinning = spinning;
            },
            async getAllSetting() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/all");
                this.loading(false);
                if (msg.success) {
                    this.oldAllSetting = new AllSetting(msg.obj);
                    this.allSetting = new AllSetting(msg.obj);
                    this.saveBtnDisable = true;
                }
            },
            async updateAllSetting() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/update", this.allSetting);
                this.loading(false);
                if (msg.success) {
                    await this.getAllSetting();
                }
            },
            async updateUser() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/updateUser", this.user);
                this.loading(false);
                if (msg.success) {
                    this.user = {};
                }
            },
            async restartPanel() {
                await new Promise(resolve => {
                    this.$confirm({
                        title: 'Restart panel',
                        content: 'Are you sure you want to restart the panel? Click OK to restart after 3 seconds. If the panel cannot be accessed after restarting, please go to the server to check the panel log information',
                        okText: 'Sure',
                        cancelText: 'Cancel',
                        onOk: () => resolve(),
                    });
                });
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/restartPanel");
                this.loading(false);
                if (msg.success) {
                    this.loading(true);
                    await PromiseUtil.sleep(5000);
                    location.reload();
                }
            }
        },
        async mounted() {
            await this.getAllSetting();
            while (true) {
                await PromiseUtil.sleep(1000);
                this.saveBtnDisable = this.oldAllSetting.equals(this.allSetting);
            }
        },
    });

</script>
</body>
</html>
